<div class="card">
  <img src="../{{userImage}}" alt="User" style="width:100%" />
  <h1>{{username}}</h1>
  <p class="title">{{email}}</p>
  <p>{{age}} years</p>
  <div class="social">
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  </div><p><button>Contact</button></p>
</div>