<div>
  <h1>This is your Profile</h1>
  <h1>{{email}}</h1>
  
  <h2>{{username}}</h2>

  <div>
    <button>Create</button>
    <button>Get</button>
    <button>Update</button>
    <button>Delete</button>
  </div>
</div>

<script>
</script>