{{!-- {{#if hasErrors}}
{{#each messages}}
  <p>{{this.msg}}</p>
{{/each}}
{{/if}} --}}

<form action="/products/addProducts" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Image URL</label>
    <input
      type="url"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="imagePath"
    />

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="title"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="description"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Price</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputPassword1"
      name="price"
    />
  </div>

  <button type="submit" class="btn btn-primary">Create</button>

</form>